* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
  .side-header {
    color: #ffffff;
    height: 100px;
    align-items: center;
    display: flex;
    padding: 0 20px;
    &__box {
      line-height: 20px;
      font-weight: bold;
      display: flex;
      height: 20px;
      width: 100%;
      justify-content: space-between;
      &--menu {
        display: flex;
        a {
          padding-left: 5px;
          font-size: 1.2em;
        }
      }
    }
  }
  .side-main {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__box {
      height: 85px;
      color: #ffffff;
      &--group-name {
        padding-top: 20px;
        margin: 0 20px;
        font-size: 15px;
      }
      &--new-message {
        font-size: 11px;
        padding-top: 5px;
        margin: 0 20px;
      }
    }
  }
}


.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
  .main-header {
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__left-box {
      padding-top: 35px;
      padding-left: 40px;
      &--group-name {
        font-size: 20px;
        color: #333333;
      }
      &--group-member {
        display: flex;
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
        &__list {
          display: flex;
          ul {
            display: flex;
            li {
              display: block;
              padding-left: 5px;
            }
          }
        }
      }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      margin-bottom: 32px;
      margin-right: 40px;
      border: solid 1px #38aef0;
      color: #38aef0;
      font-size: 16px;
      a {
        text-decoration: none;
        color: #38aef0;
        display: block;
      }
    }
  }
  


  .messages {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px;
    overflow: scroll;
    .message {
      height: 150px;
      // width: 100%;
      // margin-bottom: 30px;
      .message-top {
        display: flex;
        &__sender {
          font-weight: bold;
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .message-text {
        margin-top: 12px;
        color: #434a54;
        font-size: 14px;
        // line-height: 120px;
        .message-text__content {
          // height: 120px;
          display: block;
          // text-align: center;
          }
      }
      
    }
  }
  .form {
    background-color: #d2d2d2;
    padding: 20px 40px;
    height: 90px;
    .new_message {
      display: flex;
      justify-content: space-between;
      height: 50px;
      align-items: center;
      width: 100%;
      &--form {
        width: 100%;
        height: 50px;
        padding: 0 40px 0 10px;
      }
      &--mask {
        width: 10px;
        height: 50px;
        position: relative;
        &--picture-send-btn {
          font-size: 1.5em;
          position: absolute;
          top: 12px;
          right: 10px;
          cursor: pointer;
        }
        &--file-choose {
          display: none;
        }
      }
      .send-btn {
        background-color: #38aef0;
        color: #ffffff;
        width: 100px;
        border: #38aef0 solid 1px;
        height: 50px;
        cursor: pointer;
      }
    }
  }
}